<%= form_for(@recruiterfilter) do |f| %>
  <% if @recruiterfilter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recruiterfilter.errors.count, "error") %> prohibited this recruiterfilter from being saved:</h2>

      <ul>
      <% @recruiterfilter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
